<ion-view title="Signup" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="signup-form6" class="list">
      <ion-list id="signup-list8">
        <label class="item item-input" id="signup-input11" name="regnameinput">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input12" name="regemailinput">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input13" name="regpassinput">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="signup-input15" name="regpassinput2">
        <span class="input-label">Re-Type Password</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="menu.home()" id="signup-button11" class="button button-dark button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>